.env
vendor
public/uploads
app/Services/google
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
EOF
/deploy_20250514
/app/Services/google/*